.single-product {
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.single-product:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.single-product img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
